# server config
.htaccess

# Ignore configuration files that may contain sensitive information.
config.inc.php
config.TEMPLATE.inc.php

# Ignore paths that contain user-generated content.
public/conferences/*
public/site/*
arquivos/*
cache/*
/cache/*

relatorios/inc/database/dbConfig.php 
/relatorios/inc/database/dbConfig.php 

# ..
robots.txt
